

 /*global*/
 html 
 {
	font-size: 62.5%;
 }

body {
	margin:0;
	font-family: 'Poppins';
	font-size: 2rem;
	word-wrap: break-word;
	color: #444;
	background-color: #f2f2f2;
	/*margin: auto;
	padding: 20px; 
	max-width: 65ch;
	text-align: left;
	background-color: #fff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #444;*/
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: #222;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

/*header*/
header{
	background-color: #ffffff;
}

.logo {
	color: #1a1a1a;
	text-decoration: none;
	font-family: 'Playfair Display';
	font-weight: 600;
	font-size: 2.5rem;

}

.wrapper-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}

nav {
	margin: 2em;
}

nav ul {
	list-style-type: none;
	display: flex;
	gap: 4.1em;
	margin: 0;
}

nav a {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-size: 1.6rem;
	position: relative;
}

nav a.active:before {
	position: absolute;
	content: "";
	width: 35%;
	height: 1px;
	border-bottom: 2px solid black;
	bottom: -6px;
}

nav a:hover:before {
	width: 35%;
}

nav a:before {
	position: absolute;
	content: "";
	width: 0%;
	height: 1px;
	border-bottom: 2px solid rgb(110, 110, 110);
	bottom: -6px;
	transition: width .3s;
}


.close {
	margin: 0;
	width: 0;
}

.burger-menu {
	display: none;
}

@media only screen and (max-width:1000px){
	.open-nav{
		transform: translateX(0%);
	}
	.wrapper-header {
		height: 3em;
		margin-left: 1em;
		margin-right: 1em;
	}

	.close {		
		margin: 1em;
		padding-left: 3.5em;
		width: 1.5em;
		clear: right;		
		right:0;
		
	}

	.burger-menu {
		display: block;
		width: 2em;		
		cursor: pointer;
	}

	nav{
		position: fixed;
		right:0;
		top:0;
		height: 100vh;
		background: black;
		z-index: 2;
		margin:0;
		transform: translateX(100%);
		transition: transform 0.5s ease-in-out;
	}

	nav ul {
		padding: 0;
		display : block;
		
		
	}

	nav ul li {
		padding : .75em 2em;
	}
	

	nav ul a {
		color:white;		
	}

	nav ul li:hover {
		background: #292929;
	}

	nav a:before {
		border-bottom: 0px;
	}
	nav a.active:before {
		border-bottom: 0px;
	}
}

/* about page*/
img.about {

	border-radius: 20%;
	padding: 5px;
	width: 85px;
	height: 100px;
	object-fit:cover;
	object-position: 15%;
	margin-right: 1em;
	float: left;
}



main.others {
	justify-content: center;
	align-items: center;
	gap: 2em;
	margin-top: 1em;
	margin-left: 2em;
}

.left-col {
	width:20%;
}

.right-col {
	width:80%;
	flex-grow: 1;
}

.text-about {
	grid-area: right;
}

@media only screen and (min-width:1000px){
	img.about {

		height: 270px;
		width: 180px;		
	
	}

	main.others {
		display : flex;
	}



}

/*post list*/
.post-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(10em, 25em));
	grid-auto-rows: 20em;
	gap: 3em;
	margin-top: 1em;
	justify-content: center;
}

.post-card {
	border-radius: 1em;
	padding-top: 1em;
	display: flex;
	align-items: end;
	background-size: 150%;
	height: 100%;
	transition: background-size 800ms;
	margin: 1.5em;
	
}

.post-card:hover {
	background-size: 160%;
}

.post-link{
	text-decoration: none;
}

.post-card-details
{
	background: white;
	border-radius: .6em;
	padding: .5em;
	width: 100%;
	height: 40%;
	color: black;
	transition: transform 800ms;
}

.post-card:hover .post-card-details{
	transform: translateY(-20px);
}

.post-title {
	font-weight: bold;
	text-align: left;
	font-size: 1.6rem;
	margin:0;
}
.post-subtitle {
	font-weight:400;
	font-style: italic;
	text-align: left;
	font-size: 1.6rem;
	margin:0;
}

.post-desc {
	font-weight: 400;
	font-size: 1.4rem;
	text-align: left;
	margin:0;
	margin-top:1em;
}

.post-date {
	font-style: italic;
	font-size: 1.3rem;
	text-align: right;
}

/*footer*/
footer {
	margin-top:3em;
	text-align: center;
}