---
import HeaderLink from './HeaderLink.astro';
---
<header>
	<div class="wrapper-header">
	<!--<a href="#"><img class="logo" src="favicon.svg" alt="logo"></a>-->
	<a class="logo" href="/">BeamMeUp</a>
	<nav>
		<ul>
			<li><HeaderLink href="/">Blog</HeaderLink></li>
			<!--<li><HeaderLink href="/blog">Archives</HeaderLink></li>-->
			<li><HeaderLink href="/about">à propos</HeaderLink></li>
		</ul>		
	</nav>
	</div>
</header>
